@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');




html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    /* background-color:#f857a6; */
    background: radial-gradient(rgb(221, 120, 137));
}

.heading{
    color: black;
    margin-top: 10px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    display:grid;
    grid-template-columns: 1fr 0fr;
}

.flex-item{
    
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 40px;
    padding: 5px;
    line-height: 30px;
    background-color: #bbeae0;
    box-shadow: 10px 10px 30px black;
    border: 1px solid #bbeae0;
    border-radius: 46px;
    width: 487px;
    
}

.flex-head {
    color:blue;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 100px;
}

.flex-inside{
    padding: 10px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.server{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    text-decoration: None;
    display: block;
    color: red;
    font-size: 25px;
    border-radius: 5px;
}
.text{}